body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serifsans-serif;
    font-size: 15px;
}

.pricing .title {
    height: 90px;
}
.pricing {
    padding-bottom: 100px;
}
.ui-ribbon-container .ui-ribbon {
    background-color: #ec4545;
}